*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  text-align: center;
  font-family: verdana;
}

h1 {
  font-size: 2.5rem;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 3rem 0;
  color: #333;
}

// Styling the grid and the rows
.grid {
  padding: 0 2rem;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  border: 1px solid #bbb;
  margin: 0.4rem;
  text-align: center;
  line-height: 6.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

// Coloring the row blocks and adding the flip animation
.row > div.green {
  --background-color: #5ac85a;
  --border: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background-color: #e2cc68;
  --border: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background-color: #a1a1a1;
  --border: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

// Adding delays for each tile in the flip animation
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

// Adding the bounce animation
.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

// Keypad Styles
.keypad {
  max-width: 50rem;
  margin: 2rem auto;
  font-size: 2em;

  & > div {
    margin: 0.5rem;
    width: 4rem;
    height: 5rem;
    background-color: #eee;
    display: inline-block;
    border-radius: 6px;
    line-height: 5rem;
  }

  & > div.green {
    background-color: #5ac85a;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  & > div.yellow {
    background-color: #e2cc68;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  & > div.grey {
    background-color: #a1a1a1;
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

// Keypad color
.keypad {
}

// Animation
@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background-color: #fff;
    border-color: #333;
  }

  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border);
  }

  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    border-color: #333;
  }
}
