*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  /* Mobile Landscape */
  @media only screen and (min-width: 478px) {
    font-size: 50%;
  }

  /* Tablet */
  @media only screen and (min-width: 768px) {
    font-size: 56.25%; // 1rem = 8px
  }

  /* Desktop Base */
  @media only screen and (min-width: 992px) {
    font-size: 56.25%;
  }

  /* Desktop Large */
  @media only screen and (min-width: 1200px) {
    font-size: 62.5%; // 1rem = 10px
  }

  /* Larger breakpoints */
  @media only screen and (min-width: 1440px) {
    font-size: 68.75%; // 1rem = 11px
  }
}

body {
  text-align: center;
  font-family: verdana;
}

h1 {
  font-size: 2.5rem;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 3rem 0;
  color: #333;
}

// Styling the grid and the rows
.grid {
  padding: 0 2rem;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  border: 1px solid #bbb;
  margin: 0.4rem;
  text-align: center;
  line-height: 6.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

// Coloring the row blocks and adding the flip animation
.row > div.green {
  --background-color: #5ac85a;
  --border: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background-color: #e2cc68;
  --border: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background-color: #a1a1a1;
  --border: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

// Adding delays for each tile in the flip animation
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

// Adding the bounce animation
.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

// Keypad Styles
.keypad {
  max-width: 50rem;
  margin: 2rem auto;
  font-size: 2em;

  & > div {
    margin: 0.5rem;
    width: 4rem;
    height: 5rem;
    background-color: #eee;
    display: inline-block;
    border-radius: 6px;
    line-height: 5rem;

    &:hover {
      cursor: pointer;
    }

    /*
     Targeting the Enter and Backspace keys
     which are placed after all the alphabets.
    */
    &:nth-child(27) {
      width: auto;
      padding: 0 0.5em;
      color: #fff;
      background-color: #ff8008;
    }

    &:nth-child(28) {
      min-width: 5rem;
      padding: 0 1.5em;
      color: #fff;
      background-color: #dc2424;

      & > svg {
        font-size: 1.4em;
        position: relative;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  & > div.green {
    background-color: #5ac85a;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  & > div.yellow {
    background-color: #e2cc68;
    color: #fff;
    transition: all 0.3s ease-in;
  }

  & > div.grey {
    background-color: #a1a1a1;
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

// Modal Styles
.modal {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  width: 80%;
  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  & > button {
    width: 16rem;
    margin: 0 0 1rem 0;
    padding: 0.6em 0.5em;
    font-size: 1.8em;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #5ac85a;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid currentColor;
      color: #5ac85a;
      box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    }

    &:active {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      transform: translateY(4px);
    }
  }

  @media only screen and (min-width: 478px) {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal .message {
  margin: 2rem 0;
  font-size: 1.5em;
}

.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Animation
@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background-color: #fff;
    border-color: #333;
  }

  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border);
  }

  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    border-color: #333;
  }
}
